
@{
    ViewBag.Title = "Error";
}

<h3>Ocorreu um error inesperado</h3>
<h5>Favor enviar um e-mail com esta tela para lucas.scheid@gefco.com.br</h5>
@*<hr />
<h3>Exception Details:</h3>

<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Stack Trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>*@

@*<a asp-controller="Home" asp-action="Index"> Click here to navigate do home page</a>*@
